*, 
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-image: linear-gradient(to right top, #d58c1a, #e46b44, #db556a, #bc508a, #8c569c, #7e5aa6, #6c5eb0, #5363b8, #6f67cf, #9168e2, #b766f1, #e05ffb);
    --shadow: rgb(0, 0, 0);
    --light-color: rgb(224, 229, 237);
    --gradient: linear-gradient(to left, #d58c1a, #e46b44, #db556a, #bc508a, #8c569c, #7e5aa6, #6c5eb0, #5363b8, #6f67cf, #9168e2, #b766f1, #e05ffb);
}
body {
    width: 100%;
    color: var(--light-color);
}
nav {
    width: 100%;
    position: fixed;
    height: 2rem;
    background-image: var(--gradient);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
ul {
    padding-right: 1rem;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-right: 6.5%;
  
}
li {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Exo 2", sans-serif;
    font-weight: 200;
    font-size: clamp(1.2rem, 1.5vw, 2rem);     
    line-height: 2rem;
    padding: 0 1rem;

    
    

}
li:hover {
    background-image: linear-gradient(to right top, #da1585, #d8009a, #d100b2, #c100ce, #a412eb);
    cursor: pointer;
}
.logo {
    display: inline-block;
    width: clamp(9rem, 14vw, 13rem);
    margin-top: 1rem;
}
.grid {
    justify-content: center;
    padding-top: 4rem;
    overflow: hidden;
    display: grid;
    gap: .2rem;
    grid-template-columns: repeat(8, 10.2vw);  
    grid-template-rows: repeat(19, 10.2vw);    
}
.grid div {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    transition: all 250ms ease-in-out;

}
.grid div:hover {
    transform: scale(1.11);
}
.tile-1 {
    background: url(/images/tiles/logan_productions_logo.png);
    grid-row: 1 / span 1;
    grid-column: 5 / span 1;
}
.tile-2 {
    background: url(/images/tiles/photography.jpg);
    grid-row: 6 / span 3;
    grid-column: 1 / span 5;
}
.tile-3 {
    background: url(/images/tiles/owl_walk_logo.png);
    grid-row: 3 / span 3;
    grid-column: 1 / span 3;
}
.tile-4 {
    background: url(/images/tiles/sheeaun-print.png);
    grid-row: 1 / span 1;
    grid-column: 4 / span 1;
}
.tile-5 {
    background: url(/images/tiles/EAIL-comp.png);
    grid-row: 1 / span 2;
    grid-column: 6 / span 3;
}
.tile-6 {
    background: url(/images/tiles/cert.png);
    grid-row: 3 / span 2;
    grid-column: 6 / span 3;
}
.tile-7 {
    background: url(/images/tiles/logan-stationary.png);
    grid-row: 2 / span 4;
    grid-column: 4 / span 2;
}
.tile-8 {
    background: url(/images/tiles/gesture.jpg);
    grid-row: 8 / span 1;
    grid-column: 7 / span 2;
}
.tile-9 {
    background: url(/images/tiles/layout.jpg);
    background-color: rgb(237, 237, 237);
    grid-row: 17 / span 1;
    grid-column: 1 / span 3;
}
.tile-10 {
    background: url(/images/tiles/chair.jpg);
    grid-row: 5 / span 3;
    grid-column: 6 / span 3;
}
.tile-11 {
    background: url(/images/tiles/Sheeaun-Academy-comp.png);
    grid-row: 1 / span 2;
    grid-column: 1 / span 3;
}
.tile-12 {
    background: url(/images/tiles/Resume.png);
    grid-row: 8 / span 1;
    grid-column: 6 / span 1;
}
.tile-13 {
    background: url(/images/tiles/colorite_logo.png);
    grid-row: 9 / span 2;
    grid-column: 4 / span 2;
}
.tile-14 {
    background: url(/images/tiles/slideshow.png);
    background-color: #e0e0e0;
    grid-row: 17 / span 1;
    grid-column: 4 / span 5;
}
.tile-15 {
    background: url(/images/tiles/nate-kennedy-24.jpg);
    grid-row: 13 / span 3;
    grid-column: 8 / span 1;
}
.tile-16 {
    background: url(/images/tiles/No-self-Comp.png);
    grid-row: 13 / span 2;
    grid-column: 5 / span 3;
}
.tile-17 {
    background: url(/images/tiles/PHI-comp.png);
    grid-row: 9 / span 2;
    grid-column: 6 / span 3;
}
.tile-18 {
    background: url(/images/tiles/EAIL-docs.png);
    grid-row: 11 / span 2;
    grid-column: 6 / span 3;
}
.tile-19 {
    background: url(/images/tiles/a1pools_website.jpg);
    grid-row: 13 / span 4;
    grid-column: 1 / span 4;
}
.tile-20 {
    background: url(/images/tiles/rose_garden_logo.png);
    grid-row: 11 / span 2;
    grid-column: 1 / span 2;
}
.tile-21 {
    background: url(/images/tiles/star_wind_and_solar_logo.png);
    grid-row: 16 / span 1;
    grid-column: 8 / span 1;

}
.tile-22 {
    background: url(/images/tiles/T-Shirt-Back.png);
    grid-row: 11 / span 2;
    grid-column: 3 / span 3;
}
.tile-23 {
    background: url(/images/tiles/Perspective-business-cards.png);
    grid-row: 9 / span 2;
    grid-column: 1 / span 3;
}
.tile-24 {
    background: url(/images/tiles/BGA-Logo.png);
    background-color: #395A97;
    grid-row: 15 / span 2;
    grid-column: 5 / span 3;
}

